.menu-button {
    -fx-background-color: #ededed;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: Verdana;
    -fx-text-weight: bold;
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;

}

.menu-button:hover {
    -fx-cursor: hand;
    -fx-border-color: #1c1c1c;
    -fx-background-color: #e9e9e9;
    -fx-opacity: 80%;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}


.menu-button:pressed {
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
    -fx-background-color: #c5c5c5;
}


.menu-button:focused {
   -fx-background-color: #e9e9e9;
}


.menu-button:disabled {
    -fx-background-color: #535353;
}